body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 1px;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background-color: #6baf8d;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6baf8d #fffdfd;
}

/* For Microsoft Edge */
* {
  -ms-overflow-style: none;
}

*::-ms-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

*::-ms-scrollbar-thumb {
  background-color: #6baf8d;
  border-radius: 1px;
}

*::-ms-scrollbar-track {
  background-color: #6baf8d;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.containers {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: stretch;
}

.box1 {
  width: 20vw;
  background-color: rgb(37, 36, 36);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  transition: 1s;
}

.box2 {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.user {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-bottom: 1px solid white;
}

.box1 > ul > li {
  list-style-type: none;
  color: white;
  padding: 10px;
  transition: 1s;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  vertical-align: middle;
  border-left: 10px solid rgb(37, 36, 36);
}

ol,
ul {
  padding-left: 10px;
}

.box1 > ul > li:hover {
  background-color: rgb(0, 0, 0);
  border-left: 10px solid red;
}

.listView li[disabled] {
  color: #777;
  pointer-events: none; /* Disable pointer events for the item */
  /* You can add more styles for disabled items */
}

.noData {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box2 {
  background-color: #e2dede;
  max-height: 100vh;
  overflow: auto;
}

.items_container {
  background-color: white;
  margin: 20px;
  width: calc(100% - 40px);
  overflow: auto;
  min-height: calc(100% - 40px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 90%;
  font-family: "Times New Roman", Times, serif;
}

.item:nth-child(even) {
  background-color: rgb(220, 231, 231);
  color: rgb(0, 0, 0);
}

.item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex_grow {
  flex: 1 0 20px;
  text-align: center;
}

.activated {
  background-color: rgb(51, 51, 85);
  color: white;
}

@media only screen and (max-width: 672px) {
  .containers {
    flex-direction: column;
  }

  .box1 {
    width: 100vw;
    transition: 0.2s;
  }

  .box2 {
    width: 100vw;
  }
}
